<html lang="en">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta charset="utf-8">
<title>
chrismanbrown
</title>
<meta name="author" content="Chrisman Brown">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="scripts/themes.js"></script>
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="chrisman">
<link rel="stylesheet" href="styles/reset.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/code.css">
<link rel="index" href="/list" /> <link rel="prev" href="/29">
<link rel="next" href="/31">
</head>
<body>
<header>
👩‍💻 chrismanbrown.gitlab.io
<nav>
<a href="about.html">About</a> · <a href="list.html">Writing</a> · <a
href="wiki/Home.html">Wiki</a> · <a href="contact.html">Contact</a> · <a
href="feeds.html">Feeds</a> · <a href="uses.html">Uses</a> · <a
href="hire.html">Careers</a>
</nav>
</header>
<main>
<h1 class="title">
vimwiki
</h1>
<p>
how and why i use vimwiki for keeping notes and tracking tasks
</p>
<p>
2022-01-21
</p>
<h2 id="contents">Contents</h2>
<ol type="1">
<li><a href="#introduction">Introduction</a></li>
<li><a href="#motivation">Motivation</a></li>
<li><a href="#installing">Installing</a></li>
<li><a href="#configuring">Configuring</a></li>
<li><a href="#syntax">Syntax</a></li>
<li><a href="#cheatsheet">Cheatsheet</a></li>
<li><a href="#tasks">Tasks</a></li>
<li><a href="#searching-and-references">Searching and
References</a></li>
<li><a href="#methodology">Methodology</a></li>
<li><a href="#diary">Diary</a>
<ol type="1">
<li><a href="#daily-log">Daily Log</a></li>
<li><a href="#weekly-review">Weekly Review</a></li>
</ol></li>
<li><a href="#conclusion">Conclusion</a></li>
</ol>
<h2 id="introduction">Introduction</h2>
<p>I recently started a new chapter in my work life and have decided
that this is an opportune time to recommit to using <a
href="https://github.com/vimwiki/vimwiki">vimwiki</a> to keep track of
tasks and notes. I’ve messed around with it in the past, but it didn’t
really stick. But I think I now have both the setup and the
understanding of the tool to stick with it this time.</p>
<h2 id="motivation">Motivation</h2>
<p>I’m a big note-taker.</p>
<p>I maintain several different blogs mainly just as places to house my
personal note-taking on niche subjects. I maintain a <a
href="https://github.com/chrisman/knowledge/wiki">personal knowledge
base</a> of notes and bookmarks and references. I have +16k words of
notes for my D&amp;D campaign alone. Etc. You get the picture.</p>
<p>The one place, for some reason, that I haven’t been as obsessive with
note-taking is at work. Don’t get me wrong, I take meeting notes and
one-on-one notes, and I share summaries via email after meetings. That
kind of stuff, I’m good.</p>
<p>But I haven’t been able to keep up any kind of reflective journaling
at work, which is one of the main ways that I learn and grow. And I
haven’t really successfully used any kind of todo list or task
management system outside of jira or whatever we happen to be using to
track individual pieces of work for a project.</p>
<p>I’d like something a little more holistic and a little more
personal.</p>
<h2 id="installing">Installing</h2>
<p>I use the <a href="https://github.com/junegunn/vim-plug">Plug</a>
plugin manager, so I <a
href="https://github.com/chrisman/dotfiles/blob/main/vimrc#L226">added
the following line to my list of plugins</a>:</p>
<pre><code>Plug &#39;vimwiki/vimwiki&#39;</code></pre>
<p>…and then run <code>:PlugInstall</code>.</p>
<h2 id="configuring">Configuring</h2>
<p>This is the <a
href="https://github.com/chrisman/dotfiles/blob/main/vimrc#L237">vimwiki
configuration in my vimrc</a>.</p>
<pre><code>&quot;&quot; vimwiki {{{2
&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;
let g:vimwiki_global_ext = 0
let g:vimwiki_listsyms = &#39;✗○◐●✓&#39;

&quot; knowledge = my personal knowledge wiki
let wiki1 = {}
let wiki1.name = &#39;knowledge&#39;
let wiki1.path = &#39;~/knowledge&#39;
let wiki1.auto_toc = 1
let wiki1.syntax = &#39;markdown&#39;
let wiki1.ext = &#39;.md&#39;
let wiki1.index = &#39;Home&#39;

&quot; work wiki
let wiki2 = {}
let wiki2.name = &#39;work&#39;
let wiki2.path = &#39;~/vimwiki&#39;
let wiki2.auto_toc = 1

let g:vimwiki_list = [ wiki1, wiki2 ]</code></pre>
<p>I have two wikis. My aforementioned personal knowledge database, and
my new work wiki.</p>
<p>vimwiki provides tools for managing multiple wikis effectively, such
as a <code>&lt;Leader&gt;ws</code> command to open a wiki selection UI,
and more.</p>
<h2 id="syntax">Syntax</h2>
<p>This is probably the best place for me to address what is probably
the biggest downside to vimwiki, and it’s a kind of minor one at
that.</p>
<p>It has its own markup syntax.</p>
<p>It’s markdown-ish, but headers, links, and bold and italics, among
other things, are different.</p>
<p>You can set it up to work with markdown, as you can see I did with
<code>wiki1</code> above. But markdown support is incomplete: you can’t
export to HTML if your wiki is in markdown.<a href="#fn1"
class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a></p>
<p>When I first tried using vimwiki, I already had an extensive
collection of markdown files in my knowledge base, and I was tacking
vimwiki on top of it to test drive it. At the time, I didn’t feel like
it brought that much to the table, so I stopped using it.</p>
<p>For my new work wiki, I decided to embrace the defaults and use the
vimwiki syntax and the default <code>.wiki</code> filetype.</p>
<p>It’s not even an issue really. I don’t use emphasis in my own notes
if I’m not writing for the web. I can’t even tell you what the syntax is
for italics, bold, etc. Headers look like <code>== this ==</code> and
are not annoying at all. There’s a keyboard shortcut for increasing and
decreasing header level, so you don’t even have to type out the syntax
if you don’t want to. Same for linking, which makes sense because that’s
one of the primary features of a wiki: you just press Enter on a word
and it either creates a new link or follows an existing link. You rarely
have to type out the syntax. (It looks like <code>[[this]]</code>.)</p>
<p>So yeah, the syntax is not markdown. But it hardly matters to me in
practice. The syntax really seems to just get out of the way and allow
me to type. Probably more so that markdown does, honestly.</p>
<h2 id="cheatsheet">Cheatsheet</h2>
<p>Here’s a quick cheatsheet</p>
<p>Opening your wiki:</p>
<ul>
<li><p>&lt;Leader&gt;ws: “wiki select”. You only really need to use this
if you have more than one wiki.</p></li>
<li><p>&lt;Leader&gt;ww: open the index page of your wiki</p></li>
<li><p>&lt;Leader&gt;wt: open your wiki in a new tab. I don’t really
ever use tabs, but I can appreciate the use case of being deep in work
and wanting to quickly log something or look something up, and just
quickly opening the wiki in a tab instead of doing what I would do and
just pop open a new tmux window.</p></li>
</ul>
<p>Diary:</p>
<ul>
<li><p>&lt;Leader&gt;w &lt;Leader&gt;w: open a ‘diary’ page for today. I
use this for all my daily notes, most of which I then later migrate to
other pages.</p></li>
<li><p>&lt;Leader&gt;wi: Open the diary index page.</p></li>
<li><p>&lt;Leader&gt;w &lt;Leader&gt;i: reindex the diary page (when
you’re on the diary index page.)</p></li>
<li><p>&lt;Leader&gt;w &lt;Leader&gt;y: Open yesterday’s diary
page</p></li>
<li><p>&lt;Leader&gt;w &lt;Leader&gt;m: Open toMorrow’s diary
page</p></li>
</ul>
<p>Linking and navigating:</p>
<ul>
<li><p>&lt;Enter&gt; (Normal mode, cursor on a word): Turn a word or
selection into a link</p></li>
<li><p>&lt;Enter&gt; (Normal mode, cursor on a link): Follow a
link</p></li>
<li><p>&lt;Backspace&gt; (Normal mode, after following a link): Go back
to the parent page</p></li>
</ul>
<h2 id="tasks">Tasks</h2>
<p>Tracking tasks is one of the main things I use vimwiki for, but it
works so well that there’s not really much to say about it.</p>
<p>You just make a list item</p>
<ul>
<li>like this</li>
</ul>
<p>And then you can <code>C-space</code> on it to mark it as complete or
incomplete.</p>
<p>If tasks are nested, then completing child tasks progressively marks
the parent task as more and more complete, which I think is neat. So you
get feedback on when a parent task is one-quarter, half, or
three-quarters complete.</p>
<p>You can customize these markers as you can see I did in my config
above.</p>
<p>See more about how I use task lists in <a
href="#methodology">methodology</a>.</p>
<h2 id="searching-and-references">Searching and References</h2>
<p>Two things I feel more confident about now after spending some time
in <code>:help vimwiki</code> are searching and references.</p>
<p>When I tried vimwiki before, I had a lot of tasks and todos spread
across many files, and I never felt all the way sure that I wasn’t
letting something slip by. But now I know that the
<code>:VimwikiSearch</code> commands can let me do stuff like
<code>:VWS - \[x\]</code> to open a location list of all incomplete
tasks.</p>
<p>And I also never felt like I had a good way to figure out “what links
here”, but now know that <code>:VWB</code> (short for
<code>:VimwikiBacklinks</code>) does just that. It too populates a
location list so you can jump around the references.</p>
<h2 id="methodology">Methodology</h2>
<p>At this point my workflow is sort of a mix of <a
href="https://gettingthingsdone.com/">Getting Things Done</a>, with
which I was briefly obsessed in the 2000s, and <a
href="https://bulletjournal.com/">bullet journal</a>, with which I was
briefly obsessed in the 2010s.</p>
<p>My main page has the following sections:</p>
<ol type="1">
<li>General: kind of a “main nav” section with links to pages like
<em>Jargon</em> (acronyms, abbreviations, and jargon unique to the
company or project), <em>You</em> (stuff related directly to my
position, career growth, and goals), and other things.</li>
</ol>
<p>Tasks:</p>
<ol start="2" type="1">
<li><p>Todo: a backlog of things I gotta get done</p></li>
<li><p>In Progress: what it says on the tin</p></li>
<li><p>Done: I don’t delete things from my todo list. I migrate the
items to ‘Done’ and timestamp them, and maybe add a followup note or
two, so I have a list of accomplishments</p></li>
<li><p>Waiting On: move tasks here when I’m blocked by
somebody/something. Follow up on these at an appropriate
cadence.</p></li>
<li><p>Follow Up: uh-oh, people are waiting on me! Better get back to
them quick!</p></li>
</ol>
<p>Other Indices and Lists:</p>
<ol start="3" type="1">
<li><p>Tags: A generated list of all tags. This is something I’m using
now that I hadn’t used in the past. I can tag meetings with project
names or with <code>:one-on-one:</code> or whatever. Then I can generate
a list of all tag links, and see what’s where.</p></li>
<li><p>Projects: an index of project pages a la bullet journal.
Obviously the actual project(s) I’m working on go here, but also
anything else that stands on its own as a context like Book Club or
Front End Guild. Any standalone recurring meeting is probably a
Project.</p></li>
<li><p>Someday/Maybe: kind of a junk drawer of ideas and stuff for the
future.</p></li>
</ol>
<h2 id="diary">Diary</h2>
<p>Most of my interaction with my wiki happens in the diary. Namely in
the daily log, and the weekly review.</p>
<h3 id="daily-log">Daily Log</h3>
<p>Every morning, I open up and skim yesterday’s diary page for
unfinished tasks or anything else that needs to be carried over. Then
create a new page for today.</p>
<p>Look at my calendar, and create a page section for each meeting and
maybe jot down a few notes ahead of time so I am ready.</p>
<p>Throughout the day, fill in time between meetings with notes about
what I’m working on. Good notes document a process or something I’ve
learned or something I’m stuck on. Lacking anything interesting, at
minimum log number of hours or pomodoros, etc, spent on a task.</p>
<p>At the end of the day, create a new <em>summary</em> section at the
top of the page and surface highlights for skimming later. Tag content
as necessary. Open tomorrow’s diary page and carry over any notes or
unfinished tasks.</p>
<p>At the end of the week, it is time for the <em>weekly review</em>, in
which I look back on the week, reading the daily summaries, and reflect
on what I accomplished and what still needs doing.</p>
<h3 id="weekly-review">Weekly Review</h3>
<p>The weekly review happens every Friday morning, and happens at the
bottom of that day’s daily log.</p>
<p>It gets a <code>:review:weekly-review:</code> tag (you can chain tags
like that: <code>:one:two:</code>) so I can find all my reviews quickly
later when I, say, want to do a monthly review.</p>
<p>In my weekly review, I usually make the following sections:</p>
<ul>
<li><p>People: who did I meet, or meet with? How are my relationships
doing? Do any of my people need extra support? Is there any conversation
I’m avoiding that I need to have?</p></li>
<li><p>Process: Think about my tools and processes. Can some process be
made more efficient, or even removed? Do I need to invest some time in
becoming better with my tools?</p></li>
<li><p>Product: How is the health of the thing I’m working on?</p></li>
<li><p>Learning: What did I learn this week? What did I
accomplish?</p></li>
<li><p>Opportunities/Goals: Where can I improve? What can I do next week
in order to improve?</p></li>
<li><p>Coming up: Scan next week’s agenda. Create some quick notes if
you can. E.g., if I see I have a one-on-one Monday morning, go jot down
some questions and stuff now. Take a look at that Someday/Maybe list. Is
it time to start on one of those tasks?</p></li>
</ul>
<h2 id="conclusion">Conclusion</h2>
<p>vimwiki is surprisingly robust and powerful. It has a ton of features
that I didn’t touch on here like dynamic tables, and metadata and
templating for exporting HTML pages, and more.</p>
<p><code>:help vimwiki</code> is a treasure trove of information. I feel
like I’ve only scratched the surface of what it can do, but I also feel
like with just what I’ve got so far, I’m going to be a lot more
productive and successful.</p>
<p>I think I’m going to enjoy bringing a little more journaling into my
work life. Writing is hugely important to me for organizing my thoughts
and making realizations and making connections.</p>
</main>
<footer>
<p>
:wq
</p>
<div style="text-align: center; margin: 2rem 0;">
𐡸 𐡸 𐡸
</div>
<p><a href="mailto:christopher.p.brown@gmail.com?subject=RE: vimwiki">Reply
by Email</a></p>
<p>
Filed under:
</p>
<ul>
<li>
<a href="t-note-taking.html">note-taking</a>
</li>
<li>
<a href="t-vim.html">vim</a>
</li>
</ul>
<p>
<a href="29.html">« Previous</a> | <a href="30.html">2022-01-21</a> |
<a href="31.html">Next »</a>
</p>
</footer>
</body>
</html>
<aside id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p>You <em>can</em>. But it’s still not supported. <a
href="https://gist.github.com/enpassant/0496e3db19e32e110edca03647c36541"
class="uri">https://gist.github.com/enpassant/0496e3db19e32e110edca03647c36541</a><a
href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</aside>
