<html lang="en">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta charset="utf-8">
<title>
chrismanbrown
</title>
<meta name="author" content="Chrisman Brown">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="scripts/themes.js"></script>
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="chrisman">
<link rel="stylesheet" href="styles/reset.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/code.css">
<link rel="index" href="/list" /> <link rel="prev" href="/48">
<link rel="next" href="/50">
</head>
<body>
<header>
👩‍💻 chrismanbrown.gitlab.io
<nav>
<a href="about.html">About</a> · <a href="list.html">Writing</a> · <a
href="wiki/Home.html">Wiki</a> · <a href="contact.html">Contact</a> · <a
href="feeds.html">Feeds</a> · <a href="uses.html">Uses</a> · <a
href="hire.html">Careers</a>
</nav>
</header>
<main>
<h1 class="title">
templating markdown+yaml frontmatter with rec and awk
</h1>
<p>
smol templating
</p>
<p>
2024-03-19
</p>
<p>This is a really small deal, but I’ve been really tickled since
figuring it out this week.</p>
<p>Sometimes I have a markdown document with
<abbr title="You Ain't My Llama!">yaml</abbr> frontmatter, and in the
document body I sometimes want to refer to that frontmatter
metadata.</p>
<figure>
<div class="sourceCode" id="cb1"><pre
class="sourceCode numberSource markdown numberLines"><code class="sourceCode markdown"><span id="cb1-1"><a href="#cb1-1"></a><span class="co">---</span></span>
<span id="cb1-2"><a href="#cb1-2"></a><span class="an">title:</span><span class="co"> templating markdown+yaml frontmatter with rec and awk</span></span>
<span id="cb1-3"><a href="#cb1-3"></a><span class="an">subtitle:</span><span class="co"> smol templating</span></span>
<span id="cb1-4"><a href="#cb1-4"></a><span class="an">created:</span><span class="co"> 2024-03-19</span></span>
<span id="cb1-5"><a href="#cb1-5"></a><span class="an">keywords:</span><span class="co"> rec awk markdown yaml</span></span>
<span id="cb1-6"><a href="#cb1-6"></a><span class="co">---</span></span>
<span id="cb1-7"><a href="#cb1-7"></a><span class="fu"># {{title}}</span></span>
<span id="cb1-8"><a href="#cb1-8"></a></span>
<span id="cb1-9"><a href="#cb1-9"></a>{{subtitle}}</span>
<span id="cb1-10"><a href="#cb1-10"></a></span>
<span id="cb1-11"><a href="#cb1-11"></a>{{created}}</span>
<span id="cb1-12"><a href="#cb1-12"></a></span>
<span id="cb1-13"><a href="#cb1-13"></a>This is a really small deal ...</span></code></pre></div>
<figcaption>
example markdown file with template slots
</figcaption>
</figure>
<p>The thing about rec (<a href="https://www.gnu.org/software/recutils/"
class="uri">https://www.gnu.org/software/recutils/</a>) is that it’s
basically a superset of yaml. So if I can isolate that yaml block and
then pipe it into <code>recfmt</code>, then it’ll fill out the
templates.</p>
<p>Here is a small line of
<abbr title="Aho Weinberger Kernighan">awk</abbr> that prints all the
content between the two <code>---</code> lines.</p>
<div class="sourceCode" id="cb2"><pre
class="sourceCode awk"><code class="sourceCode awk"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a>awk &#39;<span class="op">/^---</span>$<span class="op">/{</span>a<span class="op">=!</span>a<span class="op">;</span><span class="kw">next</span><span class="op">;}</span>a&#39; document.md</span></code></pre></div>
<p>First, <code>/^---$</code>/ checks whether the current line matches
<code>---</code>. If it does, it toggles <code>a</code>. <code>a</code>
can be anything. It’s just a variable. Call it <code>foo</code> or call
it <code>printme</code>.</p>
<p>Because every variable in awk has an implicit value, you never need
to initialize that variable. You can just start using it. Which is
really cool! So in this case, the first time awk matches
<code>---</code>, it flips <code>a</code> on. Then <code>next</code>
skips the rest of the evaluation so it doesn’t print the current
line.</p>
<p>On the next line(s), until it matches <code>---</code> again and
toggles <code>a</code> back off, it evaluates <code>a</code> which is
true, and performs the default action, which is printing the line.</p>
<p>That’s it!</p>
<figure>
<div class="sourceCode" id="cb3"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="op">&gt;</span> awk <span class="st">&#39;/^---$/{a=!a;next;}a&#39;</span> document.md</span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a><span class="ex">title:</span> templating markdown+yaml frontmatter with rec and awk</span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a><span class="ex">subtitle:</span> smol templating</span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true" tabindex="-1"></a><span class="ex">created:</span> 2024-03-19</span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true" tabindex="-1"></a><span class="ex">keywords:</span> rec awk markdown yaml</span></code></pre></div>
<figcaption>
awk and output
</figcaption>
</figure>
<p>That is a valid rec record. And you can just pipe it into recfmt:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="op">&gt;</span> awk <span class="st">&#39;/^---$/{a=!a;next;}a&#39;</span> document.md <span class="dt">\</span></span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">|</span> <span class="ex">recfmt</span> <span class="at">-f</span> document.md</span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a><span class="ex">---</span></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a><span class="ex">title:</span> templating markdown+yaml frontmatter with rec and awk</span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true" tabindex="-1"></a><span class="ex">subtitle:</span> smol templating</span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true" tabindex="-1"></a><span class="ex">created:</span> 2024-03-19</span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true" tabindex="-1"></a><span class="ex">keywords:</span> rec awk markdown yaml</span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true" tabindex="-1"></a><span class="ex">---</span></span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true" tabindex="-1"></a><span class="co"># templating markdown+yaml frontmatter with rec and awk</span></span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true" tabindex="-1"></a><span class="ex">smol</span> templating</span>
<span id="cb4-13"><a href="#cb4-13" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-14"><a href="#cb4-14" aria-hidden="true" tabindex="-1"></a><span class="ex">2024-03-19</span></span>
<span id="cb4-15"><a href="#cb4-15" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-16"><a href="#cb4-16" aria-hidden="true" tabindex="-1"></a><span class="ex">This</span> is a really small deal ...</span></code></pre></div>
<figcaption>
example markdown file after template expansion
</figcaption>
</figure>
<p>That’s it! Neat!</p>
<p>BONUS CONTENT: RESTRICTING MATCHES</p>
<p>So this particular document has a lot of <code>---</code> in it which
messes with my awk matching. You can ignore all of the inline
<code>---</code> by making sure your regex only matches instances that
exist on a line by themselves: <code>/^---$/</code> good,
<code>/---/</code> bad.</p>
<p>But I still have a bunch of (4) extra lines that match
<code>/^---$/</code> because of the markdown examples I included.</p>
<p>Now I could do something silly and add a whitespace at the end of
those lines but that would be quite silly. And I would have to remember
to pad the line every time I wrote it.</p>
<p>No, let’s do it the right way and have awk only match the 1st two
lines.</p>
<div class="sourceCode" id="cb5"><pre
class="sourceCode awk"><code class="sourceCode awk"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a>awk &#39;<span class="op">/^---</span>$<span class="op">/{</span><span class="cf">if</span> <span class="op">(</span>times <span class="op">&lt;</span> <span class="dv">2</span><span class="op">)</span> <span class="op">{</span> a<span class="op">=!</span>a<span class="op">;</span>times<span class="op">++;</span><span class="kw">next</span><span class="op">;}</span> <span class="op">}</span> a&#39; document.md</span></code></pre></div>
<p>There we go. Easy as pie.</p>
<p>This is yet another example of getting to use variables before they
are initialized. What a wonderful feature. awk is so cute.</p>
<p>EDIT:</p>
<p>acdw (<a href="https://www.acdw.net/"
class="uri">https://www.acdw.net/</a>) makes the following
suggestions:</p>
<div class="sourceCode" id="cb6"><pre
class="sourceCode awk"><code class="sourceCode awk"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a>awk &#39;<span class="op">/^---</span>$<span class="op">/{</span><span class="cf">if</span> <span class="op">(</span>times<span class="op">++</span> <span class="op">&lt;</span> <span class="dv">2</span><span class="op">)</span> <span class="op">{</span> a<span class="op">=!</span>a<span class="op">;</span><span class="kw">next</span><span class="op">;}</span> <span class="op">}</span> a&#39; document.md</span></code></pre></div>
<p>I think this is a great change. Love it.</p>
<div class="sourceCode" id="cb7"><pre
class="sourceCode awk"><code class="sourceCode awk"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true" tabindex="-1"></a>awk &#39;<span class="dt">$0</span> <span class="op">~</span> <span class="ot">/^</span><span class="ss">---</span><span class="ot">$/</span> <span class="op">&amp;&amp;</span> times<span class="op">++</span> <span class="op">&gt;</span> <span class="dv">2</span> <span class="op">{</span> a<span class="op">=!</span>a<span class="op">;</span><span class="kw">next</span><span class="op">;</span> <span class="op">}</span> a&#39; document.md</span></code></pre></div>
<p>This is acceptable. But let’s not get carried away.</p>
</main>
<footer>
<p>
:wq
</p>
<div style="text-align: center; margin: 2rem 0;">
𐡸 𐡸 𐡸
</div>
<p><a href="mailto:christopher.p.brown@gmail.com?subject=RE: templating markdown+yaml frontmatter with rec and awk">Reply
by Email</a></p>
<p>
Filed under:
</p>
<ul>
<li>
<a href="t-yaml.html">yaml</a>
</li>
<li>
<a href="t-markdown.html">markdown</a>
</li>
<li>
<a href="t-awk.html">awk</a>
</li>
<li>
<a href="t-recutils.html">recutils</a>
</li>
</ul>
<p>
<a href="48.html">« Previous</a> | <a href="49.html">2024-03-19</a> |
<a href="50.html">Next »</a>
</p>
</footer>
</body>
</html>
