<html lang="en">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta charset="utf-8">
<title>
chrismanbrown
</title>
<meta name="author" content="Chrisman Brown">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="scripts/themes.js"></script>
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="chrisman">
<link rel="stylesheet" href="styles/reset.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/code.css">
<link rel="index" href="/list" /> <link rel="prev" href="/49">
<link rel="next" href="/51">
</head>
<body>
<header>
👩‍💻 chrismanbrown.gitlab.io
<nav>
<a href="about.html">About</a> · <a href="list.html">Writing</a> · <a
href="wiki/Home.html">Wiki</a> · <a href="contact.html">Contact</a> · <a
href="feeds.html">Feeds</a> · <a href="uses.html">Uses</a> · <a
href="hire.html">Careers</a>
</nav>
</header>
<main>
<h1 class="title">
frontmatter.rec
</h1>
<p>
a consistent metadata schema
</p>
<p>
2024-04-15
</p>
<p>I write a lot of documents. <abbr title="Web Blog">Blog</abbr> posts,
articles, essays, games, slides, etc. And the documents I write target a
lot of different formats:
<abbr title="Hypertext Machine Learning">html,</abbr>
<abbr title="Excellent Publication">epub,</abbr> plain text,
<abbr title="Printable Document Format">pdf.</abbr> For almost every
document I write, there is an amount of metadata that I am interested in
maintaining. That metadata usually manifests as “frontmatter” because I
usually draft everything I write in markdown before potentially
converting it to some other format (such as
<abbr title="GNU Runoff">groff)</abbr> for presentation.</p>
<p>And so I present to you <code>frontmatter.rec</code>, the document
metadata I consider mandatory for pretty much everything I write.</p>
<figure>
<pre class="rec"><code>%rec: frontmatter
%doc: minimal acceptable document metadata
%mandatory: title type description
%allowed: title type description
%type: title,description line
%type: type enum string datetime list
%key: title

title: title
type: string
description: the title of the document

title: description
type: string
description: a summary, description, or tagline of the document

title: author
type: string
description: the author of the document

title: version
type: string
description: document version

title: created
type: datetime
description: when did work begin on the document

title: published
type: datetime
description: when was the document originally published

title: updated
type: datetime
description: when was the document last updated

title: flags
type: list
description: document status e.g. hidden, draft, unlisted

title: tags
type: list
description: keywoards, categories, and tags
</code></pre>
<figcaption>
frontmatter.rec
</figcaption>
</figure>
<p>This is the minimum. Plenty of projects have unique specific
metadata. e.g. ‘rating’ for a review site.</p>
<p>Usage:</p>
<figure>
<div class="sourceCode" id="cb2"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="bu">printf</span> <span class="st">&quot;%s\n&quot;</span> <span class="st">&quot;---&quot;</span> <span class="va">$(</span><span class="ex">recsel</span> frontmatter.rec <span class="dt">\</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a><span class="kw">|</span> <span class="ex">recfmt</span> <span class="st">&#39;{{title}}:</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a><span class="st">&#39;</span><span class="va">)</span> <span class="st">&quot;---&quot;</span> <span class="dt">\</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a><span class="op">&gt;</span> document.md</span></code></pre></div>
<figcaption>
using frontmatter.rec
</figcaption>
</figure>
<p>Feel free to pop that into <code>~/bin/</code> or something. Maybe
replace <code>document.md</code> with <code>$*</code>.</p>
<p>And the resulting document boilerplate:</p>
<figure>
<pre><code>---
title:
description:
author:
version:
created:
published:
updated:
flags:
tags:
---</code></pre>
<figcaption>
document.md
</figcaption>
</figure>
<p>This is a result of me trying to standardize my document metadata
across multiple projects, and noticing which individual fields feel the
most reusable, and what combination of them make the metadata feel most
complete.</p>
<p>That’s all! Enjoy!</p>
<p>Resources</p>
<ul>
<li><a href="https://fff.js.org/version/1.2.html"
class="uri">https://fff.js.org/version/1.2.html</a></li>
<li><a href="https://indieweb.org/principles"
class="uri">https://indieweb.org/principles</a></li>
<li><a href="https://gohugo.io/content-management/front-matter/"
class="uri">https://gohugo.io/content-management/front-matter/</a></li>
<li><a href="https://jekyllrb.com/docs/front-matter/"
class="uri">https://jekyllrb.com/docs/front-matter/</a></li>
</ul>
</main>
<footer>
<p>
:wq
</p>
<div style="text-align: center; margin: 2rem 0;">
𐡸 𐡸 𐡸
</div>
<p><a href="mailto:christopher.p.brown@gmail.com?subject=RE: frontmatter.rec">Reply
by Email</a></p>
<p>
Filed under:
</p>
<ul>
<li>
<a href="t-metadata.html">metadata</a>
</li>
<li>
<a href="t-writing.html">writing</a>
</li>
<li>
<a href="t-markdown.html">markdown</a>
</li>
<li>
<a href="t-recutils.html">recutils</a>
</li>
</ul>
<p>
<a href="49.html">« Previous</a> | <a href="50.html">2024-04-15</a> |
<a href="51.html">Next »</a>
</p>
</footer>
</body>
</html>
