<html lang="en">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta charset="utf-8">
<title>
chrismanbrown
</title>
<meta name="author" content="Chrisman Brown">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="module" src="scripts/themes.js"></script>
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="chrisman">
<link rel="stylesheet" href="styles/reset.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/code.css">
<link rel="index" href="/list" /> <link rel="prev" href="/56">
<link rel="next" href="/58">
</head>
<body>
<header>
👩‍💻 chrismanbrown.gitlab.io
<nav>
<a href="list.html">Writing</a> · <a href="about.html">About</a> · <a
href="wiki/Home.html">Wiki</a> · <a href="contact.html">Contact</a> · <a
href="feeds.html">Feeds</a> · <a href="uses.html">Uses</a> · <a
href="hire.html">Careers</a>
</nav>
</header>
<main>
<h1 class="title">
Re: Guitar Driven Development
</h1>
<p>
writing code for making music
</p>
<p>
2024-09-29
</p>
<figure>
<img src="img/chords.png" style="width:100.0%"
alt="screenshot of a desktop showing vim and a pdf viewer side by side. vim is split into a buffer showing a recfile full of chord data, and a buffer showing a groff source file with recfmt slots. the pdf viewer shows guitar chord diagrams generated the code to the left." />
<figcaption aria-hidden="true">screenshot of a desktop showing
<abbr title="Visually Improved">vim</abbr> and a
<abbr title="Printable Document Format">pdf</abbr> viewer side by side.
vim is split into a buffer showing a recfile full of chord data, and a
buffer showing a <abbr title="GNU Runoff">groff</abbr> source file with
recfmt slots. the pdf viewer shows guitar chord diagrams generated the
code to the left.</figcaption>
</figure>
<p>This is a reply to <em>Guitar driven development</em> by my pal eli.
(Hi, eli!)</p>
<p><a href="https://eli.li/guitar-driven-development"
class="uri">https://eli.li/guitar-driven-development</a></p>
<p>I too recently acquired a guitar!<a href="#fn1" class="footnote-ref"
id="fnref1" role="doc-noteref"><sup>1</sup></a> I took like three days
of lessons on youtube<a href="#fn2" class="footnote-ref" id="fnref2"
role="doc-noteref"><sup>2</sup></a> <a href="#fn3" class="footnote-ref"
id="fnref3" role="doc-noteref"><sup>3</sup></a> and then decided that I
am so dedicated a student of the instrument that I ought to write a
little program that will keep track of all the chords I have learned so
far, and that will also export them as a good-lookin’ pdf.</p>
<p>To start, I wrote down all the chords I know in a little recutils
database.</p>
<p>It looks like this:</p>
<figure>
<pre class="rec"><code>%rec: chords
%desc: all the chords i know
%mandatory: name basefret frets fingers
%allowed: name basefret frets fingers

name: G
basefret: 1
frets: 320033
fingers: 210034

name: Cadd9
basefret: 1
frets: x32033
fingers: x21034

name: Dsus4
basefret: 1
frets: xx0233
fingers: xx0134

...</code></pre>
<figcaption>
snippet of a recfile full of chord data
</figcaption>
</figure>
<p>recfmt can easily get all the data into a template. But unfortunately
it has no template logic. And not in the way that mustache templates are
“logicless” but actually have conditionals and iteration.</p>
<figure>
<div class="sourceCode" id="cb2"><pre
class="sourceCode roff"><code class="sourceCode roff"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="fu">.PS</span><span class="st"> </span><span class="dv">1</span><span class="st">i</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a>boxwid=1</span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a>boxht=1.5</span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a>circlerad=0.45</span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true" tabindex="-1"></a>down</span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;----------------</span></span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- CHORD NAME --</span></span>
<span id="cb2-8"><a href="#cb2-8" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;----------------</span></span>
<span id="cb2-9"><a href="#cb2-9" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">18</span></span>
<span id="cb2-10"><a href="#cb2-10" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot; </span><span class="al">NOTE</span><span class="co">: HERE IS A RECFMT SLOT:</span></span>
<span id="cb2-11"><a href="#cb2-11" aria-hidden="true" tabindex="-1"></a><span class="st">&quot;{{name}}&quot;</span></span>
<span id="cb2-12"><a href="#cb2-12" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">10</span></span>
<span id="cb2-13"><a href="#cb2-13" aria-hidden="true" tabindex="-1"></a>move 3</span>
<span id="cb2-14"><a href="#cb2-14" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;----------------</span></span>
<span id="cb2-15"><a href="#cb2-15" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- DRAW BOXES --</span></span>
<span id="cb2-16"><a href="#cb2-16" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;----------------</span></span>
<span id="cb2-17"><a href="#cb2-17" aria-hidden="true" tabindex="-1"></a>for i = 1 to 4 do</span>
<span id="cb2-18"><a href="#cb2-18" aria-hidden="true" tabindex="-1"></a>{</span>
<span id="cb2-19"><a href="#cb2-19" aria-hidden="true" tabindex="-1"></a>  [ right; A: box; B: box; C: box; D: box; E: box; ]</span>
<span id="cb2-20"><a href="#cb2-20" aria-hidden="true" tabindex="-1"></a>}</span>
<span id="cb2-21"><a href="#cb2-21" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;--------------</span></span>
<span id="cb2-22"><a href="#cb2-22" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- BASEFRET --</span></span>
<span id="cb2-23"><a href="#cb2-23" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;--------------</span></span>
<span id="cb2-24"><a href="#cb2-24" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">80</span></span>
<span id="cb2-25"><a href="#cb2-25" aria-hidden="true" tabindex="-1"></a>line wid 2 ht 2 from 1st [].nw to 1st [].ne</span>
<span id="cb2-26"><a href="#cb2-26" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">10</span></span>
<span id="cb2-27"><a href="#cb2-27" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;---------------</span></span>
<span id="cb2-28"><a href="#cb2-28" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- PLACEMENT --</span></span>
<span id="cb2-29"><a href="#cb2-29" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;---------------</span></span>
<span id="cb2-30"><a href="#cb2-30" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot; </span><span class="al">FIXME</span><span class="co">: HARD CODED BECAUSE NO LOGIC:</span></span>
<span id="cb2-31"><a href="#cb2-31" aria-hidden="true" tabindex="-1"></a>circle fill 1 at 3rd [].A.w</span>
<span id="cb2-32"><a href="#cb2-32" aria-hidden="true" tabindex="-1"></a>circle fill 1 at 2nd [].A.e</span>
<span id="cb2-33"><a href="#cb2-33" aria-hidden="true" tabindex="-1"></a>circle fill 1 at 3rd [].D.e</span>
<span id="cb2-34"><a href="#cb2-34" aria-hidden="true" tabindex="-1"></a>circle fill 1 at 3rd [].E.e</span>
<span id="cb2-35"><a href="#cb2-35" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;---------------</span></span>
<span id="cb2-36"><a href="#cb2-36" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- FINGERING --</span></span>
<span id="cb2-37"><a href="#cb2-37" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;---------------</span></span>
<span id="cb2-38"><a href="#cb2-38" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">14</span></span>
<span id="cb2-39"><a href="#cb2-39" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot; </span><span class="al">FIXME</span><span class="co">: HARD CODED BECAUSE NO LOGIC:</span></span>
<span id="cb2-40"><a href="#cb2-40" aria-hidden="true" tabindex="-1"></a>circle fill 0 at 1st [].B.e - (0,-1.75)</span>
<span id="cb2-41"><a href="#cb2-41" aria-hidden="true" tabindex="-1"></a>circle fill 0 at 1st [].C.e - (0,-1.75)</span>
<span id="cb2-42"><a href="#cb2-42" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">10</span></span>
<span id="cb2-43"><a href="#cb2-43" aria-hidden="true" tabindex="-1"></a><span class="fu">.PE</span></span></code></pre></div>
<figcaption>
proof-of-concept groff file full of pic(1) preprocessor instructions to
make a guitar chord diagram. it contains a single recfmt slot,
“{{name}}”, but everything else is hard coded because recfmt has no
logic. this template will print the correct name of each chord, but will
always display a diagram of a G chord irregardless.
</figcaption>
</figure>
<p>This template creates a good looking diagram with this little
invocation:</p>
<pre><code>recsel chords.rec -e &#39;name=&quot;G&quot;&#39; \
| recfmt -f chord.tmpl \
| groff -ms -p -Tpdf \
&gt; chord.pdf</code></pre>
<p>
</p>
<figure>
<img src="img/gchord.png" alt="a good looking diagram of a G chord" />
<figcaption aria-hidden="true">a good looking diagram of a G
chord</figcaption>
</figure>
<p>rec is still a great way to represent and store data. recsel is still
a great way to query that data. And recfmt is still a great way to
iterate over that data. But I need more template logic!</p>
<p>Luckily, I have m4, the one true templating language. With m4 I get
logical branching and constants. m4 doesn’t actually have arrays or
loops. But you can fake it by writing your own.</p>
<figure>
<div class="sourceCode" id="cb4"><pre class="sourceCode m4"><code class="sourceCode m4"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">------------------</span></span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">--</span> m4 constants <span class="ch">--</span></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">------------------</span></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_first_string&#39;<span class="ch">,</span>`[].A.w&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_second_string&#39;<span class="ch">,</span>`[].A.e&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_third_string&#39;<span class="ch">,</span>`[].B.e&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_fourth_string&#39;<span class="ch">,</span>`[].C.e&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_fifth_string&#39;<span class="ch">,</span>`[].D.e&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_sixth_string&#39;<span class="ch">,</span>`[].E.e&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_offset_above&#39;<span class="ch">,</span>`<span class="ch">-</span> <span class="ch">(</span><span class="dv">0</span><span class="ch">,-</span><span class="dv">1</span>.<span class="dv">75</span><span class="ch">)</span>&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_offset_below&#39;<span class="ch">,</span>`<span class="ch">-</span> <span class="ch">(</span><span class="dv">0</span><span class="ch">,</span><span class="dv">1</span>.<span class="dv">75</span><span class="ch">)</span>&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">-----------------</span></span>
<span id="cb4-13"><a href="#cb4-13" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">--</span> m4 &quot;arrays&quot; <span class="ch">--</span></span>
<span id="cb4-14"><a href="#cb4-14" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">-----------------</span></span>
<span id="cb4-15"><a href="#cb4-15" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`array_set&#39;<span class="ch">,</span> `define<span class="ch">(</span>`<span class="ch">$1</span>[<span class="ch">$2</span>]&#39;<span class="ch">,</span> `<span class="ch">$3</span>&#39;<span class="ch">)</span>&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-16"><a href="#cb4-16" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`array_get&#39;<span class="ch">,</span> `defn<span class="ch">(</span>`<span class="ch">$1</span>[<span class="ch">$2</span>]&#39;<span class="ch">)</span>&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-17"><a href="#cb4-17" aria-hidden="true" tabindex="-1"></a>array_set<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">1</span><span class="ch">,</span>_first_string<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-18"><a href="#cb4-18" aria-hidden="true" tabindex="-1"></a>array_set<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">2</span><span class="ch">,</span>_second_string<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-19"><a href="#cb4-19" aria-hidden="true" tabindex="-1"></a>array_set<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">3</span><span class="ch">,</span>_third_string<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-20"><a href="#cb4-20" aria-hidden="true" tabindex="-1"></a>array_set<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">4</span><span class="ch">,</span>_fourth_string<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-21"><a href="#cb4-21" aria-hidden="true" tabindex="-1"></a>array_set<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">5</span><span class="ch">,</span>_fifth_string<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-22"><a href="#cb4-22" aria-hidden="true" tabindex="-1"></a>array_set<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">6</span><span class="ch">,</span>_sixth_string<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-23"><a href="#cb4-23" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">-------------</span></span>
<span id="cb4-24"><a href="#cb4-24" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">--</span> m4 funs <span class="ch">--</span></span>
<span id="cb4-25"><a href="#cb4-25" aria-hidden="true" tabindex="-1"></a>.\&quot;<span class="ch">-------------</span></span>
<span id="cb4-26"><a href="#cb4-26" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`for&#39;<span class="ch">,</span>`ifelse<span class="ch">($#,</span><span class="dv">0</span><span class="ch">,</span>``<span class="ch">$0</span>&#39;&#39;<span class="ch">,</span>`ifelse<span class="ch">(</span><span class="kw">eval</span><span class="ch">($2&lt;=$3),</span><span class="dv">1</span><span class="ch">,</span></span>
<span id="cb4-27"><a href="#cb4-27" aria-hidden="true" tabindex="-1"></a>  `pushdef<span class="ch">(</span>`<span class="ch">$1</span>&#39;<span class="ch">,$2)$4</span>`&#39;popdef<span class="ch">(</span>`<span class="ch">$1</span>&#39;<span class="ch">)$0(</span>`<span class="ch">$1</span>&#39;<span class="ch">,</span><span class="kw">incr</span><span class="ch">($2),$3,</span>`<span class="ch">$4</span>&#39;<span class="ch">)</span>&#39;<span class="ch">)</span>&#39;<span class="ch">)</span>&#39;<span class="ch">)</span></span>
<span id="cb4-28"><a href="#cb4-28" aria-hidden="true" tabindex="-1"></a>.\&quot; TODO: Figure out how to loop this in a way that works..</span>
<span id="cb4-29"><a href="#cb4-29" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_dofingers&#39;<span class="ch">,</span> `</span>
<span id="cb4-30"><a href="#cb4-30" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($1,</span><span class="dv">0</span><span class="ch">,</span>`circle fill <span class="dv">0</span> at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">1</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,$1,</span>x<span class="ch">,</span> <span class="ch">,</span>`&quot;<span class="ch">$1</span>&quot; at <span class="dv">4</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">1</span><span class="ch">)</span> _offset_below&#39;<span class="ch">)</span></span>
<span id="cb4-31"><a href="#cb4-31" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($2,</span><span class="dv">0</span><span class="ch">,</span>`circle fill <span class="dv">0</span> at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">2</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,$2,</span>x<span class="ch">,</span> <span class="ch">,</span>`&quot;<span class="ch">$2</span>&quot; at <span class="dv">4</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">2</span><span class="ch">)</span> _offset_below&#39;<span class="ch">)</span></span>
<span id="cb4-32"><a href="#cb4-32" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($3,</span><span class="dv">0</span><span class="ch">,</span>`circle fill <span class="dv">0</span> at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">3</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,$3,</span>x<span class="ch">,</span> <span class="ch">,</span>`&quot;<span class="ch">$3</span>&quot; at <span class="dv">4</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">3</span><span class="ch">)</span> _offset_below&#39;<span class="ch">)</span></span>
<span id="cb4-33"><a href="#cb4-33" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($4,</span><span class="dv">0</span><span class="ch">,</span>`circle fill <span class="dv">0</span> at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">4</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,$4,</span>x<span class="ch">,</span> <span class="ch">,</span>`&quot;<span class="ch">$4</span>&quot; at <span class="dv">4</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">4</span><span class="ch">)</span> _offset_below&#39;<span class="ch">)</span></span>
<span id="cb4-34"><a href="#cb4-34" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($5,</span><span class="dv">0</span><span class="ch">,</span>`circle fill <span class="dv">0</span> at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">5</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,$5,</span>x<span class="ch">,</span> <span class="ch">,</span>`&quot;<span class="ch">$5</span>&quot; at <span class="dv">4</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">5</span><span class="ch">)</span> _offset_below&#39;<span class="ch">)</span></span>
<span id="cb4-35"><a href="#cb4-35" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($6,</span><span class="dv">0</span><span class="ch">,</span>`circle fill <span class="dv">0</span> at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">6</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,$6,</span>x<span class="ch">,</span> <span class="ch">,</span>`&quot;<span class="ch">$6</span>&quot; at <span class="dv">4</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">6</span><span class="ch">)</span> _offset_below&#39;<span class="ch">)</span></span>
<span id="cb4-36"><a href="#cb4-36" aria-hidden="true" tabindex="-1"></a>&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-37"><a href="#cb4-37" aria-hidden="true" tabindex="-1"></a>.\&quot; TODO: Figure out how to loop this in a way that works..</span>
<span id="cb4-38"><a href="#cb4-38" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_dofrets&#39;<span class="ch">,</span>`</span>
<span id="cb4-39"><a href="#cb4-39" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($1,</span><span class="dv">0</span><span class="ch">,</span> <span class="ch">,</span> <span class="ch">$1,</span>x<span class="ch">,</span> `[ line up right; move down; line up left ] at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">1</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,</span> `circle fill <span class="dv">1</span> at <span class="ch">$1</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">1</span><span class="ch">)</span>&#39;<span class="ch">)</span></span>
<span id="cb4-40"><a href="#cb4-40" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($2,</span><span class="dv">0</span><span class="ch">,</span> <span class="ch">,</span> <span class="ch">$2,</span>x<span class="ch">,</span> `[ line up right; move down; line up left ] at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">2</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,</span> `circle fill <span class="dv">1</span> at <span class="ch">$2</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">2</span><span class="ch">)</span>&#39;<span class="ch">)</span></span>
<span id="cb4-41"><a href="#cb4-41" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($3,</span><span class="dv">0</span><span class="ch">,</span> <span class="ch">,</span> <span class="ch">$3,</span>x<span class="ch">,</span> `[ line up right; move down; line up left ] at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">3</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,</span> `circle fill <span class="dv">1</span> at <span class="ch">$3</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">3</span><span class="ch">)</span>&#39;<span class="ch">)</span></span>
<span id="cb4-42"><a href="#cb4-42" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($4,</span><span class="dv">0</span><span class="ch">,</span> <span class="ch">,</span> <span class="ch">$4,</span>x<span class="ch">,</span> `[ line up right; move down; line up left ] at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">4</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,</span> `circle fill <span class="dv">1</span> at <span class="ch">$4</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">4</span><span class="ch">)</span>&#39;<span class="ch">)</span></span>
<span id="cb4-43"><a href="#cb4-43" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($5,</span><span class="dv">0</span><span class="ch">,</span> <span class="ch">,</span> <span class="ch">$5,</span>x<span class="ch">,</span> `[ line up right; move down; line up left ] at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">5</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,</span> `circle fill <span class="dv">1</span> at <span class="ch">$5</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">5</span><span class="ch">)</span>&#39;<span class="ch">)</span></span>
<span id="cb4-44"><a href="#cb4-44" aria-hidden="true" tabindex="-1"></a>  <span class="kw">ifelse</span><span class="ch">($6,</span><span class="dv">0</span><span class="ch">,</span> <span class="ch">,</span> <span class="ch">$6,</span>x<span class="ch">,</span> `[ line up right; move down; line up left ] at <span class="dv">1</span>st array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">6</span><span class="ch">)</span> _offset_above&#39;<span class="ch">,</span> `circle fill <span class="dv">1</span> at <span class="ch">$6</span>th array_get<span class="ch">(</span>`strings&#39;<span class="ch">,</span><span class="dv">6</span><span class="ch">)</span>&#39;<span class="ch">)</span></span>
<span id="cb4-45"><a href="#cb4-45" aria-hidden="true" tabindex="-1"></a>&#39;<span class="ch">)</span><span class="kw">dnl</span></span>
<span id="cb4-46"><a href="#cb4-46" aria-hidden="true" tabindex="-1"></a><span class="kw">define</span><span class="ch">(</span>`_split&#39;<span class="ch">,</span></span>
<span id="cb4-47"><a href="#cb4-47" aria-hidden="true" tabindex="-1"></a>`regexp<span class="ch">($1,</span> `\<span class="ch">(</span>.\<span class="ch">)</span>\<span class="ch">(</span>.\<span class="ch">)</span>\<span class="ch">(</span>.\<span class="ch">)</span>\<span class="ch">(</span>.\<span class="ch">)</span>\<span class="ch">(</span>.\<span class="ch">)</span>\<span class="ch">(</span>.\<span class="ch">)</span>&#39;<span class="ch">,</span> `\<span class="dv">1</span><span class="ch">,</span> \<span class="dv">2</span><span class="ch">,</span> \<span class="dv">3</span><span class="ch">,</span> \<span class="dv">4</span><span class="ch">,</span> \<span class="dv">5</span><span class="ch">,</span> \<span class="dv">6</span>&#39;<span class="ch">)</span>&#39;<span class="ch">)</span><span class="kw">dnl</span></span></code></pre></div>
<figcaption>
snippet of the next iteration of the groff template that contains a
bunch of m4 definitions
</figcaption>
</figure>
<p>The hardest part of m4 is figuring out how to properly escape macros
when using nested macros and functions. I haven’t figured it out for
this section yet. So it’s still really verbose here. But hey it
works!</p>
<figure>
<div class="sourceCode" id="cb5"><pre
class="sourceCode roff"><code class="sourceCode roff"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="fu">.PS</span><span class="st"> </span><span class="dv">1</span><span class="st">i</span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a>boxwid=1</span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a>boxht=1.5</span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a>circlerad=0.45</span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true" tabindex="-1"></a>down</span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;----------------</span></span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- CHORD NAME --</span></span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;----------------</span></span>
<span id="cb5-9"><a href="#cb5-9" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">18</span></span>
<span id="cb5-10"><a href="#cb5-10" aria-hidden="true" tabindex="-1"></a><span class="st">&quot;{{name}}&quot;</span></span>
<span id="cb5-11"><a href="#cb5-11" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">10</span></span>
<span id="cb5-12"><a href="#cb5-12" aria-hidden="true" tabindex="-1"></a>move 3</span>
<span id="cb5-13"><a href="#cb5-13" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;----------------</span></span>
<span id="cb5-14"><a href="#cb5-14" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- DRAW BOXES --</span></span>
<span id="cb5-15"><a href="#cb5-15" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;----------------</span></span>
<span id="cb5-16"><a href="#cb5-16" aria-hidden="true" tabindex="-1"></a>for i = 1 to 4 do</span>
<span id="cb5-17"><a href="#cb5-17" aria-hidden="true" tabindex="-1"></a>{</span>
<span id="cb5-18"><a href="#cb5-18" aria-hidden="true" tabindex="-1"></a>  [ right; A: box; B: box; C: box; D: box; E: box; ]</span>
<span id="cb5-19"><a href="#cb5-19" aria-hidden="true" tabindex="-1"></a>}</span>
<span id="cb5-20"><a href="#cb5-20" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;--------------</span></span>
<span id="cb5-21"><a href="#cb5-21" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- BASEFRET --</span></span>
<span id="cb5-22"><a href="#cb5-22" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;--------------</span></span>
<span id="cb5-23"><a href="#cb5-23" aria-hidden="true" tabindex="-1"></a>`<span class="st">&quot;{{basefret}}&quot;</span> at 1st _sixth_string + (1,0.75)&#39;</span>
<span id="cb5-24"><a href="#cb5-24" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;---------------</span></span>
<span id="cb5-25"><a href="#cb5-25" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- PLACEMENT --</span></span>
<span id="cb5-26"><a href="#cb5-26" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;---------------</span></span>
<span id="cb5-27"><a href="#cb5-27" aria-hidden="true" tabindex="-1"></a>_dofrets(_split(`{{frets}}&#39;))</span>
<span id="cb5-28"><a href="#cb5-28" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;---------------</span></span>
<span id="cb5-29"><a href="#cb5-29" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;-- FINGERING --</span></span>
<span id="cb5-30"><a href="#cb5-30" aria-hidden="true" tabindex="-1"></a><span class="co">.\&quot;---------------</span></span>
<span id="cb5-31"><a href="#cb5-31" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">14</span></span>
<span id="cb5-32"><a href="#cb5-32" aria-hidden="true" tabindex="-1"></a>_dofingers(_split(`{{fingers}}&#39;))</span>
<span id="cb5-33"><a href="#cb5-33" aria-hidden="true" tabindex="-1"></a><span class="fu">.ps</span><span class="st"> </span><span class="dv">10</span></span>
<span id="cb5-34"><a href="#cb5-34" aria-hidden="true" tabindex="-1"></a><span class="fu">.PE</span></span></code></pre></div>
<figcaption>
snippet of the groffy part of the template that now defers to m4
functions for template logic. every word in {{double curly brackets}} is
a recfmt slot.
</figcaption>
</figure>
<p>So now that the m4 functions are performing logic on the rec data,
the template will actually spit out a guitar chord diagram for each
chord in the recfile!</p>
<p>Now the build command looks something like this:</p>
<pre><code>recsel chords.rec \            # select chords
 | recfmt -f chart.template \  # format chords
 | m4 \                        # template logic
 | groff -ms -p -Tpdf \        # groff to pdf
 | &gt; chords.pdf                # save to file</code></pre>
<p>This has been fun to hack around on. It uses three of my favorite
pieces of esoteric software: recutils, m4, and groff.</p>
<p>My ultimate plan is to make a small markup syntax for guitar
tablature to keep track of songs as I learn them that can include one of
these diagrams for each chord used in the tab. I think that will be
fun!</p>
<p>Further reading:</p>
<ul>
<li><a href="https://www.gnu.org/software/recutils/"
class="uri">https://www.gnu.org/software/recutils/</a></li>
<li><a href="https://www.gnu.org/software/m4/m4.html"
class="uri">https://www.gnu.org/software/m4/m4.html</a></li>
<li><a href="https://www.gnu.org/software/groff/"
class="uri">https://www.gnu.org/software/groff/</a></li>
</ul>
</main>
<footer>
<p>
:wq
</p>
<div style="text-align: center; margin: 2rem 0;">
𐡸 𐡸 𐡸
</div>
<p><a href="mailto:christopher.p.brown@gmail.com?subject=RE: Re: Guitar Driven Development">Reply
by Email</a></p>
<p>
Filed under:
</p>
<ul>
<li>
<a href="t-m4.html">m4</a>
</li>
<li>
<a href="t-recutils.html">recutils</a>
</li>
</ul>
<p>
<a href="56.html">« Previous</a> | <a href="57.html">2024-09-29</a> |
<a href="58.html">Next »</a>
</p>
</footer>
</body>
</html>
<section id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p>Well technically I acquired it two years ago at the
beginning of the COVID-19 lockdown, but I didn’t start learning to play
it until now. I decided I needed some new hobbies to enjoy while stuck
at home. I also decided I needed some new hobbies to enjoy outdoors. So
I also got a skateboard and some rollerblades. I rode the skateboard
maybe twice, but I grew to love the skates.<a href="#fnref1"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2"><p>Learn guitar with Andy: <a
href="https://www.youtube.com/watch?v=BBz-Jyr23M4&amp;list=PL-RYb_OMw7GfqsbipaR65GDDzA1rP5deq&amp;pp=iAQB"
class="uri">https://www.youtube.com/watch?v=BBz-Jyr23M4&amp;list=PL-RYb_OMw7GfqsbipaR65GDDzA1rP5deq&amp;pp=iAQB</a><a
href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn3"><p>Learn guitar with Ellen: <a
href="https://www.youtube.com/watch?v=5rcCiXqAShY&amp;list=PLj0QZIx4bc7xPFgQsLy1bb0mv1ta-4hKR&amp;pp=iAQB"
class="uri">https://www.youtube.com/watch?v=5rcCiXqAShY&amp;list=PLj0QZIx4bc7xPFgQsLy1bb0mv1ta-4hKR&amp;pp=iAQB</a><a
href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
