@font-face {
  font-family: 'fira-mono';
  src: url('firamono.woff2') format('woff2'),
       url('firamono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url('opensans.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  color-scheme: light dark;

  /* font stacks */
  --font-family-serif: 'fira-mono', 'Courier New', Courier, monospace;
  --font-family-sans: 'open-sans', Trebuchet, Tahoma, Arial, sans-serif;

  /* font sizes */
  /*** Major Third Scale: https://typescale.com/ */
  --size-4xl: 3.052em;
  --size-3xl: 2.441em;
  --size-2xl: 1.953em;
  --size-xl: 1.563em;
  --size-lg: 1.25em;
  --size-md: 1rem;
  --size-sm: 0.8rem;
  --size-xs: 0.64rem;

  /* colors */
  --color-dark: #212424;
  --color-dark-lighter: #2C2F2F;
  --color-dark-darker: #070707;
  --color-light: #E1E1E1;
  --color-primary: #008b8b;
  --color-primary-variant: #00FFFF;
  --color-secondary: #FF6347;
  --color-transparency-dark: rgba(0,0,0,0.5);
  --color-transparency-light: rgba(255,255,255,0.05);

  /* spacing */
  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-2xl: 5rem;
}

html {
  font-size: 20px;
}
body {
  --h1-font-size: var(--size-4xl);
  --h2-font-size: var(--size-3xl);
  --h3-font-size: var(--size-2xl);
  --h4-font-size: var(--size-xl);
  --h5-font-size: var(--size-lg);
  --header-color: var(--color-primary);
  background-color: light-dark(var(--color-light), var(--color-dark));
  color: light-dark(var(--color-dark), var(--color-light));
  font-family: var(--font-family-serif);
  line-height: 1.2;
  margin: 0 auto;
  max-width: 40rem;
  padding: var(--space-md);
  box-sizing: border-box;
}


/***
 * Basics
 * ======
 */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
small {
  font-size: var(--size-sm);
}
p {
  margin: var(--space-md) 0;
}
blockquote {
  background: var(--color-transparency-light);
  border-left: solid;
  margin: var(--space-sm) 0;
  padding: var(--space-xs) var(--space-sm);
}


/***
 * Headers 
 * ======= 
 */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans);
  margin: var(--space-xl) 0 var(--space-sm) 0;
  color: var(--header-color, var(--color-primary));
  line-height: 1.2;
  text-transform: capitalize;
}
h1 {
  font-size: var(--h1-font-size);
  margin-top: var(--size-lg);
}
h1::before {
  content: '# ';
}
h2 {
  font-size: var(--h2-font-size);
}
h2::before {
  content: '## ';
}
h3 {
  font-size: var(--h3-font-size);
}
h3::before {
  content: '### ';
}
h4 {
  font-size: var(--h4-font-size);
}
h4::before {
  content: '#### ';
}
h5 {
  font-size: var(--h5-font-size);
}
h5::before {
  content: '##### ';
}


/***
 * Links
 * =====
 */
a {
  color: light-dark(var(--color-primary), var(--color-primary-variant));
}
a.footnote-ref {
  text-decoration: none;
}
sup {
  font-size: small;
  vertical-align: 50%;
}

/***
 * Code
 * ====
 */
pre {
  padding: var(--space-sm);
  border: dashed 0.5px gray;
}
pre, code {
  letter-spacing: 0.5px;
  font-size: var(--size-sm);
  line-height: 1.25;
  overflow-y: scroll;
}

/***
 * Lists
 * =====
 */
ul, ol {
  margin-left: var(--space-lg);
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
dd {
  margin: 0 0 var(--space-xs) var(--space-lg);
}

/***
 * Form Elements
 * =============
 */
button {
  background-color: var(--content-color);
  color: var(--background-color);
  font-size: var(--font-md);
  padding: var(--space-2xs) var(--space-sm);
  border: none;
  cursor: pointer;
  border-radius: 3px;
}


/***
 * Utilities
 * =========
 */

.u-full-width {
  left: 50%;
  position: relative;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}


/***
 * Table
 * =====
 */
table {
  border-collapse: collapse;
  margin: 0 auto;
}
th, td {
  padding: var(--space-xs) var(--space-sm);
  text-align: left;
}
th {
  font-size: var(--size-lg);
  font-weight: bolder;
}
tbody tr:nth-child(odd) {
  background-color: var(--color-transparency-light);
}
caption {
  caption-side: bottom;
  font-size: var(--size-xs);
  font-weight: normal;
  padding: var(--space-sm);
}

/*
 * Figure
 * ======
 */
figcaption {
  margin-top: var(--space-sm);
  font-size: var(--size-xs);
  font-style: italic;
  text-align: center;
}

/***
 * Svg
 * ===
 */
svg .graph {
  fill: light-dark(var(--color-light), var(--color-dark));
}
svg .node, svg .edge {
  fill: light-dark(var(--color-dark), var(--color-light));
}
.edge polygon {
  stroke: light-dark(var(--color-dark), var(--color-light));
  fill: light-dark(var(--color-dark), var(--color-light));
}
.edge path {
  stroke: light-dark(var(--color-dark), var(--color-light));
}
.edge text {
  fill: light-dark(var(--color-dark), var(--color-light));
}
.node ellipse {
  stroke: light-dark(var(--color-dark), var(--color-light));
}
.node text {
  fill: light-dark(var(--color-dark), var(--color-light));
}

/***
 * Print
 * =====
 */
@media print {
  header,
  footer,
  nav {
    display: none;
  }
}

