ifdef(`__feed',
`]]></description></item>',
`</main>
<footer>
  <p>
  :wq
  </p>
<div style="text-align: center; margin: 2rem 0;">𐡸 𐡸 𐡸</div>
<a href="mailto:christopher.p.brown@gmail.com?subject=RE: __title">Reply by Email</a>
ifdef(`__keywords',
define(`__tag', `<li><a href="t-$1.html">$1</a></li>')
define(`__looper', `ifelse($#,0, ,$#,1,__tag($1),`__looper(shift($@)) __tag($1)')')
<p>Filed under:</p>
<ul>__looper(__keywords)</ul>)dnl
<p>
ifdef(`__timestamp', `
ifelse(__id,1,,`<a href="decr(__id).html">&laquo; Previous</a> |')
<a href="__id.html">__timestamp</a>
ifelse(__latest,__id,,`| <a href="incr(__id).html">Next &raquo;</a>')')
</p>
</footer>
</body>
</html>
')
